extends ../partials/layout

block content
  main.homepage
    if(!user)
      .notif
        p Login first to create your post!
          a(href="/login")  login 
          | first.
        p Don't have account? Sign Up now!
          a(href="/signup")  Sign Up 
    else if(user.member_status === "registered")
      .notif
        p to see usernames you need to
          a.join-membership(href="#")  join our membership 
          | first

    .posts
      each post in posts
        include ../partials/post.pug
