footer
  p 2025, kyle-barco
  p
    a(href="#") Privacy Policy 
    a(href="#") Terms of Service
    a(href="#") Contact Us
  a(href="https://github.com/kyle-barco") 
    img(src="https://www.pngfind.com/pngs/m/550-5508781_png-file-svg-logo-github-transparent-png.png", alt="github link")
