doctype html 
html
  head
    title Members Only
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/styles/style.css")
    script(src="/scripts/register.js" defer)
    block scripts
  body
    include header
    block content
      main
        p Sample Text
    include footer

