doctype html 
html
  head
    title Members Only
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
    link(rel="stylesheet", href="/styles/style.css")
    script(src="/scripts/register.js" defer)
    script(src="/scripts/index.js" defer)
    block scripts
  body
    include header
    block content
      main
        p Sample Text
    include footer

